* {
  background-color: rgb(245, 222, 188);
  color: black;
  font-family:'Times New Roman', Times, serif
}
 
.doS {
  font-size: 60px;
  color: rgb(165, 62, 62);
  text-align: center;
  }

  .chkbox {
    display: inline-block;
  }
  
  .chkbox2 {
    display: inline-block;
  }